body{
    font-family: 'Inter', serif;
    margin: 0;
    line-height: 1.6;
    overflow-x : hidden;
}

main{
    background-color: #F8FAFC;
    display: grid;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

p{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

header h1{
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 600;
}

h2{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

main div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    max-width: 620px;
    box-sizing: border-box;
}

li{
    margin: 10px 0;
    padding-left: 20px;
}

hr{
    margin: 20px 0;
    border: 1px solid #E2E8F0;
}

a{
    color: #3182CE;
    text-decoration: none;
}

@media (max-width: 600px) {
    main div{
        margin: 20px auto;
    }

    header h1{
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    header h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }
}